<?xml version="1.0" encoding="UTF-8"?>
<package version="2.0" packagerversion="1.7.2" xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
	<name>OAUTH2</name>
	<channel>pear.oops.org</channel>
	<summary>OAUTH2 authenticate library</summary>
	<description>PEAR's oops\OAUTH2:: package for OAUTH2 authentication</description>
	<lead>
		<name>JoungKyun.Kim</name>
		<user>joungkyun</user>
		<email>joungkyun@gmail.com</email>
		<active>yes</active>
	</lead>
	<date>@curdate@</date>
	<time>@curtime@</time>
	<version>
		<release>1.0.9</release>
		<api>1.0.0</api>
	</version>
	<stability>
		<release>stable</release>
		<api>stable</api>
	</stability>
	<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
	<notes>* fixed facebook login window is always in popup mode
		   * remove closed DAUM provider
		   * add microsoft provider
	</notes>
	<contents>
		<dir name="/">
			<file role="php" md5sum="@OAUTH2.php@" name="OAUTH2.php" />
			<file role="php" md5sum="@OAUTH2/FACEBOOK.php@" name="OAUTH2/FACEBOOK.php" />
			<file role="php" md5sum="@OAUTH2/GITHUB.php@" name="OAUTH2/GITHUB.php" />
			<file role="php" md5sum="@OAUTH2/GOOGLE.php@" name="OAUTH2/GOOGLE.php" />
			<file role="php" md5sum="@OAUTH2/KAKAO.php@" name="OAUTH2/KAKAO.php" />
			<file role="php" md5sum="@OAUTH2/MICROSOFT.php@" name="OAUTH2/MICROSOFT.php" />
			<file role="php" md5sum="@OAUTH2/NAVER.php@" name="OAUTH2/NAVER.php" />
			<file role="php" md5sum="@OAUTH2/logout-agree.template@" name="OAUTH2/logout-agree.template" />
			<file role="php" md5sum="@OAUTH2/logout-no-auto.template@" name="OAUTH2/logout-no-auto.template" />
			<file role="php" md5sum="@OAUTH2/logout.template@" name="OAUTH2/logout.template" />
		</dir>
	</contents>
	<dependencies>
		<required>
			<php>
				<min>5.3.0</min>
			</php>
			<pearinstaller>
				<min>1.4.3</min>
			</pearinstaller>
			<package>
				<name>myException</name>
				<channel>pear.oops.org</channel>
				<min>1.0.1</min>
			</package>
			<package>
				<name>HTTPRelay</name>
				<channel>pear.oops.org</channel>
				<min>1.0.5</min>
			</package>
		</required>
	</dependencies>
	<phprelease />
	<changelog>
		<release>
			<version>
				<release>1.0.9</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>@curdate@</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>* fixed facebook login window is always in popup mode
				   * remove closed DAUM provider
				   * add microsoft provider
			</notes>
		</release>
		<release>
			<version>
				<release>1.0.8</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2018-05-26</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>
				* fixed #5 Support KAKAO API v2
			</notes>
		</release>
		<release>
			<version>
				<release>1.0.7</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2018-05-05</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>
				* Facebook graph api 버전 업데이트 (v2.6 to v2.11)
				* Profile 못 가져올 경우에 대한 방어 코드 추가
                * PHP7 이후, NAVER login 안되는 문제 수정
			</notes>
		</release>
		<release>
			<version>
				<release>1.0.6</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2018-01-21</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>
				* 네이버 모듈에 실명(realname), 닉네임 정보(nickname) 추가.
				* 기존의 name은 nickname 정보에서 실명이 있을 경우 realname을 사용하도록 변경
				* 로그아웃 동의 템플릿에서 기다릴 시간 변경 가능 하도록 수정
			</notes>
		</release>
		<release>
			<version>
				<release>1.0.5</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2017-12-15</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>
				* fixed #2 can't find duam login page
				* Support new OAUTH vendor KAKAO
			</notes>
		</release>
		<release>
			<version>
				<release>1.0.4</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2016-06-25</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>
				* update Facebook API v2.6
			</notes>
		</release>
		<release>
			<version>
				<release>1.0.3</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2016-01-20</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>
				* 지원하지 않는 vendor 접근시에 exception 처리 안되는 문제 수정
				* NAVER logout 시에 네이버 사이트 로그아웃 되지 않는 문제 해결
				* logout page 디자인 변경 및 메시지 영문으로 변경
				* X-Frame-Options 문제로 gooogle logout 안되는 문제 해결
				* $_OAUTH2_LOGOUT_TEMPALTE_ global 변수로 사용자 logout template을 사용할 수 있도록 지원
				* GITHUB oauth2 지원
			</notes>
		</release>
		<release>
			<version>
				<release>1.0.2</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2015-06-09</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>
				* fixed unknown class oops\OAUTH2\myException on DAUM api
			</notes>
		</release>
		<release>
			<version>
				<release>1.0.1</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2014-08-05</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>
				* 다음 logout 방식 변경 사항 수정
			</notes>
		</release>
		<release>
			<version>
				<release>1.0.0</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2014-06-30</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>
				* 1.0.0 release
			</notes>
		</release>
	</changelog>
</package>
