<?xml version="1.0" encoding="UTF-8"?>
<package version="2.0" packagerversion="1.7.2" xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
	<!-- $Id$ -->
	<name>OAUTH2</name>
	<channel>pear.oops.org</channel>
	<summary>OAUTH2 authenticate library</summary>
	<description>PEAR's oops\OAUTH2:: package for OAUTH2 authentication</description>
	<lead>
		<name>JoungKyun.Kim</name>
		<user>joungkyun</user>
		<email>joungkyun@gmail.com</email>
		<active>yes</active>
	</lead>
	<date>@curdate@</date>
	<time>@curtime@</time>
	<version>
		<release>1.0.3</release>
		<api>1.0.0</api>
	</version>
	<stability>
		<release>stable</release>
		<api>stable</api>
	</stability>
	<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
	<notes>* 지원하지 않는 vendor 접근시에 exception 처리 안되는 문제 수정
* NAVER logout 시에 네이버 사이트 로그아웃 되지 않는 문제 해결
</notes>
	<contents>
		<dir name="/">
			<file role="php" md5sum="@OAUTH2.php@" name="OAUTH2.php" />
			<file role="php" md5sum="@OAUTH2/DAUM.php@" name="OAUTH2/DAUM.php" />
			<file role="php" md5sum="@OAUTH2/FACEBOOK.php@" name="OAUTH2/FACEBOOK.php" />
			<file role="php" md5sum="@OAUTH2/GOOGLE.php@" name="OAUTH2/GOOGLE.php" />
			<file role="php" md5sum="@OAUTH2/NAVER.php@" name="OAUTH2/NAVER.php" />
			<file role="php" md5sum="@OAUTH2/logout.template@" name="OAUTH2/logout.template" />
		</dir>
	</contents>
	<dependencies>
		<required>
			<php>
				<min>5.3.0</min>
			</php>
			<pearinstaller>
				<min>1.4.3</min>
			</pearinstaller>
			<package>
				<name>myException</name>
				<channel>pear.oops.org</channel>
				<min>1.0.1</min>
			</package>
			<package>
				<name>HTTPRelay</name>
				<channel>pear.oops.org</channel>
				<min>1.0.5</min>
			</package>
		</required>
	</dependencies>
	<phprelease />
	<changelog>
		<release>
			<version>
				<release>1.0.3</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>@curdate@</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>* 지원하지 않는 vendor 접근시에 exception 처리 안되는 문제 수정
* NAVER logout 시에 네이버 사이트 로그아웃 되지 않는 문제 해결
</notes>
		</release>
		<release>
			<version>
				<release>1.0.2</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2015-06-09</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>* fixed unknown class oops\OAUTH2\myException on DAUM api
</notes>
		</release>
		<release>
			<version>
				<release>1.0.1</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2014-08-05</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>* 다음 logout 방식 변경 사항 수정
</notes>
		</release>
		<release>
			<version>
				<release>1.0.0</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2014-06-30</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>* 1.0.0 release
</notes>
		</release>
	</changelog>
</package>
