<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>{%VENDOR%} OAUTH logout</title>

	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">

	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		var check = 0;
		function redirect_page () {
			check += 1;
			//console.log ("### " + check);
			var cv = check * 50;

			$( '.bar' ).css ('width', cv + '%');
			if ( check == 3 ) {
				location.href = "{%REDIRECT%}";
			}
		}
	</script>

	<style type="text/css">
		#progress-box {
			position: absolute;
			width: 250px;
			height: 40px;
			font-size: 12px;
			text-align: center;
			color: red;
		}
	</style>
</head>

<body>

	<div id="progress-box">
		{%VENDOR%} OAUTH logout 진행 중입니다.
		<div class="progress progress-striped active progress-warning">
			<div class="bar" style="width: 1%"></div>
		</div>
	</div>
	<!--
		X-Frame-Options 가 None이라 console.log에 error message가 남기는
		하지만 일단 logout은 된다.
	-->
	<iframe
		id="logout-page"
		src="{%LOGOUT-URL%}"
		style="width: 0; height: 0; border: 0;"
	></iframe>

	<script type="text/javascript">
		$(function () {
			leftv = window.innerWidth - 250;
			topv = window.innerHeight - 80;

			if ( ! leftv ) {
				leftv = $(window).width() - 250;
				topv  = $(window).height() - 250;
			}

			if ( leftv > 0 )
				leftv /= 2;
			else
				leftv = 0;

			if ( topv > 0 )
				topv /= 2;
			else
				topv = 0;

			$( '#progress-box' )
				.css ('left', leftv)
				.css ('top', topv);
		});

		setInterval (redirect_page, 1000);
	</script>
</body>
</html>
